// paper & background
$background: #fff6e7;
$paper: #ffffff;

// primary
$primaryLight: #eceff1;
$primaryMain: #b27c36;
$primaryDark: #774514;
$primary100: #fff6e7;
$primary200: #fdf0c4;
$primary300: #fce4a6;
$primary400: #fad891;
$primary500: #f8c66d;
$primary600: #d5a050;
$primary700: #b27c36;
$primary800: #8f5d22;
$primary900: #774514;

// secondary
$secondaryLight: #f8e5c5;
$secondaryMain: #f8c66d;
$secondaryDark: #d5a050;
$secondary100: #fefcf4;
$secondary200: #fef8e9;
$secondary300: #fcf3dd;
$secondary400: #faedd4;
$secondary500: #f8e5c5;
$secondary600: #d5b890;
$secondary700: #b28e63;
$secondary800: #8f683e;
$secondary900: #774c25;

// success Colors
$successLight: #edf7ed;
$success200: #6cc067;
$successMain: #6cc067;
$successDark: #64ba5f;

// error
$errorLight: #e48784;
$errorMain: #d9534f;
$errorDark: #d54c48;

// warning
$warningLight: #fdf5ea;
$warningMain: #f0ad4e;
$warningDark: #ec9c3d;

// grey
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey500: #9e9e9e;
$grey600: #757575;
$grey700: #616161;
$grey900: #212121;

:export {
  // paper & background
  background: $background;
  paper: $paper;

  // primary
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;
  primary100: $primary100;
  primary200: $primary200;
  primary300: $primary300;
  primary400: $primary400;
  primary500: $primary500;
  primary600: $primary600;
  primary700: $primary700;
  primary800: $primary800;
  primary900: $primary900;

  // secondary
  secondaryLight: $secondaryLight;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;
  secondary100: $secondary100;
  secondary200: $secondary200;
  secondary300: $secondary300;
  secondary400: $secondary400;
  secondary500: $secondary500;
  secondary600: $secondary600;
  secondary700: $secondary700;
  secondary800: $secondary800;
  secondary900: $secondary900;

  // success
  successLight: $successLight;
  success200: $success200;
  successMain: $successMain;
  successDark: $successDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey300: $grey300;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey900: $grey900;
}
